<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>jenkins.diagnostics.SecurityIsOffMonitor</string>
  </disabledAdministrativeMonitors>
  <version>2.107</version>
  <installState>
    <isSetupComplete>true</isSetupComplete>
    <name>RUNNING</name>
  </installState>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.AuthorizationStrategy$Unsecured"/>
  <securityRealm class="hudson.security.SecurityRealm$None"/>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks>
    <jdk>
      <name>jdk8</name>
      <home></home>
      <properties>
        <hudson.tools.InstallSourceProperty>
          <installers>
            <hudson.tools.JDKInstaller>
              <id>jdk-8u112-oth-JPR</id>
              <acceptLicense>true</acceptLicense>
            </hudson.tools.JDKInstaller>
          </installers>
        </hudson.tools.InstallSourceProperty>
      </properties>
    </jdk>
  </jdks>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <org.jenkinsci.plugins.categorizedview.CategorizedJobsView plugin="categorized-view@1.10">
      <owner class="hudson" reference="../../.."/>
      <name>Campaign Apps</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>FloridaCiviUpdate</string>
        <string>GaGP-Phone-App_Develop</string>
        <string>ImportFloridaVoterData</string>
        <string>Politics PetVerify</string>
        <string>VoterListRegistry_Develop</string>
        <string>votertools_command</string>
        <string>votertools_command_packages</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <org.jenkinsci.plugins.categorizedview.IndentedJobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>true</recurse>
      <groupingRules/>
      <regexToIgnoreOnColorComputing></regexToIgnoreOnColorComputing>
      <categorizationCriteria>
        <org.jenkinsci.plugins.categorizedview.GroupingRule>
          <groupRegex>^votertools_command|^FloridaCiviUpdate|^ImportFloridaVoterData</groupRegex>
          <namingRule>CiviCRM VoterTools</namingRule>
          <useDisplayName>false</useDisplayName>
        </org.jenkinsci.plugins.categorizedview.GroupingRule>
        <org.jenkinsci.plugins.categorizedview.GroupingRule>
          <groupRegex>^GaGP-Phone-App</groupRegex>
          <namingRule>GPGA Phone App</namingRule>
          <useDisplayName>false</useDisplayName>
        </org.jenkinsci.plugins.categorizedview.GroupingRule>
        <org.jenkinsci.plugins.categorizedview.GroupingRule>
          <groupRegex>PetVerify</groupRegex>
          <namingRule>Petition Verify</namingRule>
          <useDisplayName>false</useDisplayName>
        </org.jenkinsci.plugins.categorizedview.GroupingRule>
        <org.jenkinsci.plugins.categorizedview.GroupingRule>
          <groupRegex>^VoterListRegistry</groupRegex>
          <namingRule>VoterListRegistry</namingRule>
          <useDisplayName>false</useDisplayName>
        </org.jenkinsci.plugins.categorizedview.GroupingRule>
      </categorizationCriteria>
    </org.jenkinsci.plugins.categorizedview.CategorizedJobsView>
    <org.jenkinsci.plugins.categorizedview.CategorizedJobsView plugin="categorized-view@1.10">
      <owner class="hudson" reference="../../.."/>
      <name>MultiMedia Apps</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>revroad-rss2feed-processor</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <org.jenkinsci.plugins.categorizedview.IndentedJobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>true</recurse>
      <groupingRules/>
      <regexToIgnoreOnColorComputing></regexToIgnoreOnColorComputing>
      <categorizationCriteria>
        <org.jenkinsci.plugins.categorizedview.GroupingRule>
          <groupRegex>^revroad-rss2feed-processor</groupRegex>
          <namingRule>Revolutionary Road Radio Show RSS Feed Processor</namingRule>
          <useDisplayName>false</useDisplayName>
        </org.jenkinsci.plugins.categorizedview.GroupingRule>
      </categorizationCriteria>
    </org.jenkinsci.plugins.categorizedview.CategorizedJobsView>
  </views>
  <primaryView>Campaign Apps</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <disabledAgentProtocols>
    <string>JNLP2-connect</string>
    <string>JNLP3-connect</string>
  </disabledAgentProtocols>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../../views/org.jenkinsci.plugins.categorizedview.CategorizedJobsView[2]/jobNames/comparator"/>
          </default>
          <int>4</int>
          <string>GITHUB_OAUTH_KEY</string>
          <string>885867c33ebbb72e5f1253643e63ec413f4c03ec</string>
          <string>USF_ANSIBLE_VAULT_CI_KEY</string>
          <string>/usr/local/etc/ansible/private/ci_vault_key.txt</string>
          <string>USF_ANSIBLE_VAULT_KEY</string>
          <string>/usr/local/etc/ansible/private/dev_vault_key.txt</string>
          <string>USF_ANSIBLE_VAULT_KEY_PROD</string>
          <string>/usr/local/etc/ansible/private/prod_vault_key.txt</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </globalNodeProperties>
</hudson>